html, body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: #727175;
    width: 100vw;
    overflow-x: hidden;
    overflow-y: scroll;
    white-space: nowrap;
}

.container {
    display: flex;
    flex-direction: column;
}

.head {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: start;
    padding-left: 20px;
}

.title {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    color: aliceblue;
}

main {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background: #727175;
    height: 100%;
}

aside {
    position: relative;
}

footer {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 10pt;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 60px;
    background: #282434;
    color: white;
    bottom: 0;
    left: 0;
    z-index: 0;
}